<div class="container text-center">
  <br>
  <div class="row">
    <div class="col">
      <input type="text" class="form-control" placeholder="Filter" aria-label="Filter" [(ngModel)]="filter">
    </div>
    <div class="col-1">
      <button (click)="search()" type="button" pButton icon="pi pi-search"></button>
    </div>
  </div>
  <br>
  <div class="row">
      <p-table
        [value]="visibleList"
        [paginator]="true"
        [rows]="10"
        [showCurrentPageReport]="true"
        [tableStyle]="{ 'min-width': '50rem' }"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [rowsPerPageOptions]="[10, 25, 50]"
      >
        <ng-template pTemplate="header">
          <tr>
            <th style="width:25%">Description</th>
            <th style="width:25%">Priority</th>
            <th style="width:25%">Due date</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-todo>
          <tr>
            <td>{{ todo.description }}</td>
            <td>{{ getPriorityText(todo.priority) }}</td>
            <td>{{ todo.dueDate }}</td>
          </tr>
        </ng-template>
      </p-table>
  </div>
  <br>
  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <p-button (click)="showDialog()" icon="pi pi-external-link" label="Add To-do" class="float-right"></p-button>
  </div>
  <br>
</div>
<todo-modal [isVisible]="visible" (modalSave)="onSave($event)" (modalClose)="onClose($event)"></todo-modal>